/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    overflow: auto;
    animation: fadeIn 1s ease-in;
  }
  
  .container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 32px;
    color: #824caf;
    animation: slideIn 1s ease-out;
  }
  
  header p {
    font-size: 14px;
    color: #4CAF50;
  }
  
  /* Seção de Sequência de Atividades */
  #streak-section {
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
  }
  
  #streak-bar-container {
    width: 100%;
    height: 6px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  #streak-bar {
    width: 0%;
    height: 100%;
    background-color: #6A1B9A;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
  }
  
  #streak-count {
    margin-top: 10px;
    font-size: 16px;
  }
  
  /* Formulário de Tarefas */
  #task-form {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  #task-input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  #task-input:focus {
    border-color: #6A1B9A;
    outline: none;
  }
  
  #tag-select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  #add-task-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #add-task-btn:hover {
    background-color: #6A1B9A;
  }
  
  #task-lists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .category {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .category h3 {
    font-size: 18px;
  }
  
  .task-category-list {
    list-style: none;
    padding-left: 0;
  }
  
  .task-category-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  #finish-day-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos do Cronômetro */
  .activity-input input {
    padding: 8px;
    width: 70%;
  }
  
  .timer h2 {
    font-size: 36px;
    color: #4CAF50;
  }
  
  button {
    margin: 5px;
    padding: 8px 15px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6A1B9A;
  }
  
  .history {
    margin-top: 20px;
    text-align: left;
  }
  
  .report {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
  }

  #back-btn {
    background-color: #4CAF50; /* Cor laranja */
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    width: auto;
    margin-top: 20px;
  }
  
  #back-btn:hover {
    background-color: #6A1B9A;
  }
  
  
  /* Responsividade */
  @media (max-width: 768px) {
    .container {
      max-width: 100%;
      padding: 15px;
    }
  
    #task-input {
      width: 200px;
    }
  }
  